* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Merriweather', sans-serif;
  background-color: wheat;
}

body {
  width: 50%;
  margin: 0 auto;
}

#clock {
  font-size: 3rem;
}

progress {
  color:white;
  border-radius: 8px;
  border:2px solid black;
  width: 100%;
  height: 32px;
}

progress[value] {
  color:pink;
  border:2px solid black;
}
progress[value]::-webkit-progress-bar {
  background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
  border-radius: 8px;
}
progress[value]::-webkit-progress-value {
  background: linear-gradient(to bottom, #b4e391 0%,#61c419 77%,#b4e391 100%);
  border-radius: 8px;
}
progress[value]::-moz-progress-bar {
  color:red;
}
