* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Major Mono Display', monospace;
  background-color: #333;
}

body {
  width: 50%;
  margin: 0 auto;
}

#clock {
  font-size: 3rem;
  text-align: center;
}

p.credit {
  color: white;
  font-size: 0.5rem;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4rem;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 0px 0px 60px yellow;
}

h2 {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

progress {
  margin-top: 1rem;
  color:white;
  border-radius: 8px;
  border:2px solid black;
  width: 100%;
  height: 64px;
}

progress[value] {
  color:pink;
  border:2px solid black;
}
progress[value]::-webkit-progress-bar {
  background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
  border-radius: 8px;
}
progress[value]::-webkit-progress-value {
  background: linear-gradient(to bottom, #b4e391 0%,#61c419 77%,#b4e391 100%);
  border-radius: 8px;
}
progress[value]::-moz-progress-bar {
  color:yellow;
}

.digit-mins,
.digit-secs,
.digit-percent {
  color: orange;
  text-shadow: 0px 0px 60px yellow;
  font-weight: bold;
  font-family: 'Major Mono Display', monospace;
}

.digit-percent {
  font-size: 2rem;
}

.digit-label {
  font-size: 1.5rem;
}

#controlBar {
  display: flex;
  justify-content: center;
  flex-direction: row;
}



#controlBar-start {
  width: 6rem;
  height: 6rem;
  background-image: url("../images/tomato.png");
  background-size: cover;
  border: none;
  background-color: none;
  margin-bottom: 2rem;
}
